RewriteEngine on
RewriteRule ^lib - [L,NC]
RewriteRule ^([0-9A-Za-z-%]+)\/([^\/]+)\/([^\/]+)\/([^\/]+)\/?$ /index.php?$1&$2&$3&$4 [L]
RewriteRule ^([0-9A-Za-z-%]+)\/([^\/]+)\/([^\/]+)\/?$ /index.php?$1&$2&$3 [L]
RewriteRule ^([0-9A-Za-z-%]+)\/([^\/]+)\/?$ /index.php?$1&$2 [L]
RewriteRule ^([0-9A-Za-z-%]+)\/?$ /index.php?$1 [L]