RewriteEngine on
RewriteRule ^lib - [L,NC]
RewriteRule ^([A-Za-z-]+)/([^\/]+)\/([^\/]+)\/([^\/]+)\/? /index.php?$1&$2&$3&$4 [L]
RewriteRule ^([A-Za-z-]+)/([^\/]+)\/([^\/]+)\/?$ /index.php?$1&$2&$3 [L]
RewriteRule ^([A-Za-z-]+)/([^\/]+)\/?$ /index.php?$1&$2 [L]
RewriteRule ^([A-Za-z-]+)\/?$ /index.php?$1 [L]